<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/page/head.ejs %>
  </head>
  <body class="<%= classname %>">

  	<% include partials/page/header.ejs %>

    <h1>samhadr</h1>

    <p>01 Deploy to AWS from Codeship.</p>

	<% include partials/page/footer.ejs %>

	<% include partials/page/jsdefaults.ejs %>

  </body>
</html>